<!doctype html>
<html lang="en">
  <head>
    <title>Blast Query App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <h1>Result</h1>
    <p>Filename: {{filename}}</p>
</div>
<table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-right">Iteration #</th>
        <th scope="col">Query ID</th>
        <th scope="col">Query Length</th>
        <th scope="col">Title</th>
        <th scope="col">Hit Length</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-right">{{item["iteration"]}}</td>
            <td>{{item["query_id"]}}</td>
            <td class="text-right">{{item["query_length"]}}</td>
            <td>{{item["title"]}}</td>
            <td class="text-right">{{item["length"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>